.login-wrapper {
    height: calc(100vh - 50px);
 }

.login {
    text-align: center;
    width: 100vw;
}

.login button {
    background-color: color(srgb 0.1647 0.1647 0.1647);
    border-radius: 30px;
    padding: 10px 30px;
    color: white;
    border: none;
}

.inputbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 10px;
    padding: 20px;
}

.inputbox div {
    padding: 10px;
    background-color: color(srgb 0.1647 0.1647 0.1647);
    border-radius: 20px;
    font-size: 20px;
}

.inputbox div.hidden {
    background-color: #00000000;
}